<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="tests/bootstrap.php" colors="true">
    <testsuites>
        <testsuite name="Application Test Suite">
            <directory>tests</directory>
        </testsuite>
    </testsuites>

    <php>
        <env name="DB_HOST" value="127.0.0.1"/>
        <env name="DB_USER" value="root"/>
        <env name="DB_PASS" value="adminadmin"/>
        <env name="DB_NAME" value="klink_test"/>
    </php>
</phpunit>